body{
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    
   

  text-align: center;
  background-color: #d3d3d3;
  width:300px;
  height: 374px;

}
.bg-color{
    float:left;
}
input,button{
   
    padding:10px 20px;
}
input{
    text-align:right;
}
.button{
    width:220px;
    height: 375px;
    background-color: black;
    color:white;
  
    /* margin:auto; */
}
.history{
    background-color:red;
    width:20px;
  
    
}